Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_customer, test:unit, test:functional

Path conditions:
  maven-build: any of: cloudito-rest-api/**/*
  deploy_customer: any of: cloudito-rest-api/**/*
  test:unit: any of: cloudito-android/**/*
  test:functional: any of: cloudito-android/**/*

evo map
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: test:unit, test:functional

Add Trilateration algorithm
  cloudito-android/app/build.gradle
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAndroidService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationCache/GeolocationManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/AccessPoint.java
Due: test:unit, test:functional

add lib to gitignore
  cloudito-rest-api/.gitignore
Due: maven-build, deploy_customer

TU : No User found exception
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

TU : No Location found exception
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

TU : No Location Last Update Date OR Data
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

fix node js service
  cloudito-android/app/src/androidTest/java/com/ackincolor/cloudito/MapTest.java
  cloudito-rest-api/mappingService/service/mapService.js
Due: maven-build, deploy_customer, test:unit, test:functional

running node test in CI
  .gitlab-ci.yml
Due: none

modify get course
  cloudito-rest-api/mappingService/service/mapService.js
Due: maven-build, deploy_customer

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add Scope4Service, Vector & Coordinate entities
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Coordinate.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Vector.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/services/Scope4Service.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/GetNotification.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4ViewModel.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/WebSocketEcho.java
  cloudito-android/app/src/main/res/layout/fragment_scope_4.xml
  cloudito-android/app/src/main/res/menu/bottom_nav_menu.xml
  cloudito-android/app/src/main/res/navigation/mobile_navigation.xml
  cloudito-android/app/src/test/java/com/ackincolor/cloudito/Scope4ServiceTest.java
Due: test:unit, test:functional

Geolocation OK !!! Can get location from SQLite
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAndroidService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/CourseNode.java
Due: test:unit, test:functional

Unit tests
  cloudito-android/app/src/test/java/com/ackincolor/cloudito/Scope4ServiceTest.java
  cloudito-android/app/src/test/java/com/ackincolor/cloudito/VectorUnitTest.java
Due: test:unit, test:functional

change node test image
  .gitlab-ci.yml
Due: none

change controller course
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope3/Scope3Fragment.java
  cloudito-rest-api/mappingService/test/testMapService.js
Due: maven-build, deploy_customer, test:unit, test:functional

Correct False object to send to api Location -> CourseNode
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAndroidService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationCache/GeolocationCustomerLocationManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
Due: test:unit, test:functional

Correct launch Geoloc service on main activity
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
Due: test:unit, test:functional

add course with customerid + test swagger
  cloudito-rest-api/mappingService/routes/index.js
  cloudito-rest-api/mappingService/swagger.ts
Due: maven-build, deploy_customer

Save last location date from server Removed from api parameter
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/CustomerLocation.java
Due: maven-build, deploy_customer

fonctionnement ok implementation Scope 1+3
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
Due: test:unit, test:functional

Correct launch Geoloc service on main activity
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAndroidService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
Due: test:unit, test:functional

Diagramme de séquence
  diagrams/Scope 3/Scope 3 Diagramme de séquence apk nodejs.PNG
Due: none

swagger
  cloudito-rest-api/mappingService/app.js
  cloudito-rest-api/mappingService/routes/index.js
  cloudito-rest-api/mappingService/swagger.json
  cloudito-rest-api/mappingService/swagger.ts
Due: maven-build, deploy_customer

commit S4 fragment
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/services/AsyncTaskGetCustomerLocation.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
Due: test:unit, test:functional
