Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_customer, test:unit, test:functional

maven-build:
  image: maven:3-jdk-8
  stage: build-back
  script: mvn package -B -f ./cloudito-rest-api/pom.xml
  artifacts:
    paths:
    - cloudito-rest-api/geolocation/target/*.jar
    - cloudito-rest-api/scope3/target/*.jar
    - cloudito-rest-api/notification/target/*.jar

deploy_customer:
  image: docker:18-dind
  stage: deploy-back
  services:
  - name: docker:18-dind
    command:
    - --insecure-registry=http://cloudito.gitlab.com:4567
  script:
  - docker build -t cloudito.gitlab.com:4567/cloudito/cloudito/cloudito-rest-api-geolocation ./cloudito-rest-api/geolocation
  ...

test:unit:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - cd cloudito-android/
  - ./gradlew test

test:functional:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - echo "functional test"

test deploy
  .gitlab-ci.yml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/controllers/MapController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Coordinate.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: test:unit, test:functional

add repo and services for user geolocation
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/AccessPointController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/GeolocationController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/AccessPoint.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/InfoTerminal.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/Location.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/MapView.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/Store.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/UserLocation.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/UserPosition.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/exceptions/ApiException.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/AccessPointRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/InfoTerminalRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/LocationRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/MapViewRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/StoreRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/UserLocationRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/AccessPointService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/ServiceImpl.java
Due: maven-build, deploy_customer

start stores
  cloudito-rest-api/course/src/main/java/esipe/fr/course/controllers/CourseController.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/controllers/MapController.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/entities/Course.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/services/CourseBuilder.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/services/MapBuilder.java
Due: maven-build, deploy_customer

Test getting AccessPOints
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope1/Scope1Fragment.java
Due: test:unit, test:functional

RTT MANAGER ADDED Use of access points to call ranging requests Getting Distance / MAC ADRESS / Signal power / STATUS
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope1/Scope1Fragment.java
Due: test:unit, test:functional

CHECK PERMISSION ACCESS_COARSE_LOCATION ACCESS_FINE_LOCATION ACCESS_WIFI_STATE CHANGE_WIFI_STATE
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope1/Scope1Fragment.java
Due: test:unit, test:functional

RTT MANAGER ADDED Use of access points to call ranging requests Getting Distance / MAC ADRESS / Signal power / STATUS
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope1/Scope1Fragment.java
Due: test:unit, test:functional

websocket android
  cloudito-android/.idea/misc.xml
  cloudito-android/app/build.gradle
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/notifications/GetNotification.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/notifications/NotificationsFragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/notifications/WebSocketEcho.java
Due: test:unit, test:functional

services method implement
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/AccessPointController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/GeolocationController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/AccessPoint.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/AccessPointService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/ServiceImpl.java
Due: maven-build, deploy_customer

diagrams notif server scope2v2 branch
  diagrams/scope2V2_diagrams/.gitkeep
Due: none

component diagram v8
  diagrams/scope2V2_diagrams/ComponentDiagramV8.png
Due: none

sequence diagram V4 notif
  diagrams/scope2V2_diagrams/SequenceDiagramNotifsV4.png
Due: none

deployment diagram notifs v10
  diagrams/scope2V2_diagrams/DeploymentDiagramNotifsV10.png
Due: none

Delete .gitkeep
  diagrams/scope2V2_diagrams/.gitkeep
Due: none

Geolocation api ok to release Swagger edited Api ok Clean up code
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/AccessPointController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/GeolocationController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/Customer.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/CustomerLocation.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/CustomerLocationRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/CustomerRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/InfoTerminalRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/LocationRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/MapViewRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/repositories/UserLocationRepository.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/AccessPointService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

add .gitignore
  .gitignore
Due: none

update gitignore android
  .gitignore
Due: none

Add TU and Notification websocket methods (open, close, sendToTarget, sendToAll)
  cloudito-rest-api/notification/src/main/java/esipe/fr/notification/controllers/NotificationController.java
  cloudito-rest-api/notification/src/main/java/esipe/fr/notification/entities/Notification.java
  cloudito-rest-api/notification/src/main/java/esipe/fr/notification/services/NotificationServiceImpl.java
  cloudito-rest-api/notification/src/test/java/NotificationServiceTest.java
Due: maven-build, deploy_customer

Update .gitlab-ci.yml except scopes branch
  .gitlab-ci.yml
Due: none

websocket android
  cloudito-rest-api/PDS_Scope2_WHPT_swagger.yaml
Due: maven-build, deploy_customer

update gitignore
  cloudito-android/.gitignore
Due: test:unit, test:functional

clean repo
  cloudito-android/.gitignore
  cloudito-android/.idea/codeStyles/Project.xml
  cloudito-android/.idea/gradle.xml
  cloudito-android/.idea/misc.xml
  cloudito-android/.idea/runConfigurations.xml
  cloudito-android/.idea/vcs.xml
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/WebSocketEcho.java
  cloudito-android/app/src/test/java/com/ackincolor/cloudito/NotificationUnitTest.java
Due: test:unit, test:functional

UPDATE GIT IGNORE
  cloudito-android/.gitignore
Due: test:unit, test:functional

Clean Repo + SQLite Geolocation Creating table for access points creating manager to getting access point Algo Doing Maths to get distance
  cloudito-android/.idea/codeStyles/Project.xml
  cloudito-android/.idea/gradle.xml
  cloudito-android/.idea/misc.xml
  cloudito-android/.idea/runConfigurations.xml
  cloudito-android/.idea/vcs.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/controllers/GeolocationController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/GeolocationManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/AccessPoint.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope1/GeolocationFragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope1/GeolocationViewModel.java
  cloudito-android/app/src/main/res/navigation/mobile_navigation.xml
Due: test:unit, test:functional

Disable TU temporarily
  cloudito-rest-api/notification/src/main/java/esipe/fr/notification/controllers/NotificationController.java
  cloudito-rest-api/notification/src/test/java/NotificationServiceTest.java
Due: maven-build, deploy_customer

Change Project Structure - ADDING RETROFIT RETROFIT CONTROLLER + GEOLOCATION SERVICES - RETROFIT / ANDROID
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAndroidService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationCache/GeolocationManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/controllers/GeolocationController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/GeolocationManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/AccessPoint.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Coordinate.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Location.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/PoI.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope1/GeolocationFragment.java
Due: test:unit, test:functional

ajout du diagramme de séquence
  cloudito-android/app/build.gradle
  cloudito-android/gradle.properties
  diagrams/scope4/DS - Cas de base.svg
Due: test:unit, test:functional

add scope4 fragment - scope4 empty UT - scope4 minimalist data & service class
  cloudito-android/.idea/misc.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Coordonee.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/services/Scope4Service.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4ViewModel.java
  cloudito-android/app/src/main/res/layout/fragment_scope_4.xml
  cloudito-android/app/src/main/res/menu/bottom_nav_menu.xml
  cloudito-android/app/src/main/res/navigation/mobile_navigation.xml
  cloudito-android/app/src/test/java/com/ackincolor/cloudito/Scope4ServiceTest.java
Due: test:unit, test:functional

Add ASYNC TASK / CUSTOMER LOCATION MANAGER / ALGO RECORDING LOCATION
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAndroidService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAsyncTasks/AsyncTaskRecordCustomerLocation.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAsyncTasks/AsyncTaskSendCustomerLocation.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationCache/GeolocationCustomerLocationManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
Due: test:unit, test:functional

test deploy
  .gitignore
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Node.java
Due: test:unit, test:functional

adding deploy to gitlab
  .gitlab-ci.yml
Due: none

reload deploy
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

revert gitlab ci mavenOpts
  .gitlab-ci.yml
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

test maven
  .gitlab-ci.yml
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

add pom file
  .gitlab-ci.yml
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

docker file
  cloudito-rest-api/mappingService/Dockerfile
Due: maven-build, deploy_customer

deploy node : image node-dind
  .gitlab-ci.yml
Due: none

change image docker
  .gitlab-ci.yml
Due: none

Path conditions:
  maven-build: any of: cloudito-rest-api/**/*
  deploy_customer: any of: cloudito-rest-api/**/*
  test:unit: any of: cloudito-android/**/*
  test:functional: any of: cloudito-android/**/*
