Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_customer, test:unit, test:functional

Path conditions:
  maven-build: any of: cloudito-rest-api/**/*
  deploy_customer: any of: cloudito-rest-api/**/*
  test:unit: any of: cloudito-android/**/*
  test:functional: any of: cloudito-android/**/*

add python
  .gitlab-ci.yml
Due: none

add python 2
  .gitlab-ci.yml
Due: none

test with new canvas version
  .gitlab-ci.yml
  cloudito-rest-api/mappingService/package.json
Due: maven-build, deploy_customer

remove canvas lib
  cloudito-rest-api/mappingService/package.json
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

remove canvas lib oups
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

Add new Seq. Diagram
  diagrams/geolocalisation/Diagramme Seq. Localiser un utilisateur.svg
Due: none

update seq diagram
  diagrams/geolocalisation/Diagramme Seq. Localiser un utilisateur.svg
Due: none

start android service
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitService.java
Due: test:unit, test:functional

fix route map/stores
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

draw map component with scroll and zoom
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/controllers/MapController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/ParcoursManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Node.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/services/MapService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope3/Scope3Fragment.java
Due: test:unit, test:functional

start sourse on android app
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/CourseNode.java
Due: test:unit, test:functional

Diagramme de sequence vf
  diagrams/Scope 3/Scope 3 Diagramme de séquence.png
Due: none

fix bad notification scope
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
  cloudito-android/app/src/main/res/menu/bottom_nav_menu.xml
  cloudito-android/app/src/main/res/navigation/mobile_navigation.xml
Due: test:unit, test:functional

ADD new class
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Coordinate.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Graph.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Link.java
Due: test:unit, test:functional

rotation map
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/res/menu/bottom_nav_menu.xml
Due: test:unit, test:functional

SQLITE COURSENODE
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/ParcoursManager.java
Due: test:unit, test:functional

draw course
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope3/Scope3Fragment.java
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer, test:unit, test:functional

test with location
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer

finish gesture on map
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/CourseNode.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Node.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: test:unit, test:functional

cache for map
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseCache/CourseManager.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/controllers/ParcoursController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/data/DatabaseController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope3/Scope3Fragment.java
Due: test:unit, test:functional

test maven cache
  .gitlab-ci.yml
Due: none

cleaning nodejs
  .gitlab-ci.yml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope3/Scope3Fragment.java
  cloudito-android/app/src/main/res/layout/fragment_scope_3.xml
  cloudito-rest-api/mappingService/package-lock.json
  cloudito-rest-api/mappingService/package.json
  cloudito-rest-api/mappingService/routes/index.js
Due: maven-build, deploy_customer, test:unit, test:functional

test dev build
  .gitlab-ci.yml
Due: none

test maven profils
  .gitlab-ci.yml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-rest-api/course/pom.xml
  cloudito-rest-api/course/src/main/resources/application.properties
  cloudito-rest-api/geolocation/pom.xml
  cloudito-rest-api/geolocation/src/main/resources/application.properties
Due: maven-build, deploy_customer, test:unit, test:functional

test with env variable
  cloudito-rest-api/course/pom.xml
  cloudito-rest-api/pom.xml
Due: maven-build, deploy_customer

Implement API Exception handler
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/RestExceptionController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/ErrorDefinition.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/ErrorDefinitionErrors.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/CustomerLocationRepository.java
Due: maven-build, deploy_customer

Access Point GetAll & Creation OK
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/AccessPointController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/GeolocationController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/AccessPointService.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/AccessPoint.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/CustomerLocation.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Location.java
Due: maven-build, deploy_customer

unit test in node js using mocha/chai
  .gitlab-ci.yml
  cloudito-rest-api/authentication/pom.xml
  cloudito-rest-api/course/pom.xml
  cloudito-rest-api/mappingService/app.js
  cloudito-rest-api/mappingService/bin/www
  cloudito-rest-api/mappingService/package-lock.json
  cloudito-rest-api/mappingService/package.json
  cloudito-rest-api/mappingService/routes/index.js
  cloudito-rest-api/mappingService/service/mapService.js
  cloudito-rest-api/mappingService/swagger.ts
  cloudito-rest-api/mappingService/test/testMapService.js
Due: maven-build, deploy_customer

Customer Location GetLast & Creation OK
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/GeolocationController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/CustomerLocation.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Location.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/CustomerLocationRepository.java
Due: maven-build, deploy_customer

start Android unit Test
  cloudito-android/app/src/androidTest/java/com/ackincolor/cloudito/MapTest.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Location.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: test:unit, test:functional

Test android Geolocation
  cloudito-android/app/src/androidTest/java/com/ackincolor/cloudito/GeolocationServiceTest.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationAndroidService.java
Due: test:unit, test:functional

TU : test getLocation with existing user
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

add env variable geolocation
  cloudito-rest-api/geolocation/pom.xml
Due: maven-build, deploy_customer

matrix
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: test:unit, test:functional

Zoom on the map
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: test:unit, test:functional

add compass
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/res/drawable/boussolearrow.xml
Due: test:unit, test:functional

fix zoom & rotation bug
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: test:unit, test:functional

recreate scope4 fragment
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/MainActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/GetNotification.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4ViewModel.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/WebSocketEcho.java
  cloudito-android/app/src/main/res/layout/fragment_scope_4.xml
  cloudito-android/app/src/main/res/menu/bottom_nav_menu.xml
  cloudito-android/app/src/main/res/navigation/mobile_navigation.xml
Due: test:unit, test:functional

add WebScoketEcho & GetNotif to scope2 package
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope2/GetNotification.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope2/WebSocketEcho.java
Due: test:unit, test:functional
