Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_customer, test:unit, test:functional

maven-build:
  image: maven:3-jdk-8
  stage: build-back
  script: mvn package -B -f ./cloudito-rest-api/pom.xml
  artifacts:
    paths:
    - cloudito-rest-api/geolocation/target/*.jar
    - cloudito-rest-api/scope3/target/*.jar
    - cloudito-rest-api/notification/target/*.jar

deploy_customer:
  image: docker:18-dind
  stage: deploy-back
  services:
  - name: docker:18-dind
    command:
    - --insecure-registry=http://cloudito.gitlab.com:4567
  script:
  - docker build -t cloudito.gitlab.com:4567/cloudito/cloudito/cloudito-rest-api-geolocation ./cloudito-rest-api/geolocation
  ...

test:unit:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - cd cloudito-android/
  - ./gradlew test

test:functional:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - echo "functional test"

TU
  cloudito-rest-api/.idea/workspace.xml
  cloudito-rest-api/course/src/main/java/esipe/fr/course/test/ParcoursTest.java
Due: maven-build, deploy_customer

Writing test : GeolocationServiceTest 4 methods
  cloudito-rest-api/.idea/compiler.xml
  cloudito-rest-api/.idea/encodings.xml
  cloudito-rest-api/.idea/misc.xml
  cloudito-rest-api/.idea/workspace.xml
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

RELEASE
  cloudito-rest-api/.idea/workspace.xml
  cloudito-rest-api/course/pom.xml
Due: maven-build, deploy_customer

MAJ des models de données de l'API définis en début d'itération
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/AccessPoint.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/Location.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/MapView.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/Store.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/UserPosition.java
Due: maven-build, deploy_customer

Add new directory
  diagrams/scope2_diagrams/.gitkeep
Due: none

sequence_diags_notifs_scope2
  diagrams/scope2_diagrams/SequenceDiagramNotifsV3.png
Due: none

Deployment_diagram_notifictions_scope2
  diagrams/scope2_diagrams/DeploymentDiagramNotifsV6.png
Due: none

component_diagram_notifications_scope2
  diagrams/scope2_diagrams/ComponentDiagramV5.png
Due: none

swagger_notifications_scope2
  cloudito-rest-api/PDS_Scope2_WHPT_swagger.yaml
Due: maven-build, deploy_customer

host correction PDS_Scope2_WHPT_swagger.yaml
  cloudito-rest-api/PDS_Scope2_WHPT_swagger.yaml
Due: maven-build, deploy_customer

maven Test
  cloudito-rest-api/course/src/test/java/ParcoursTest.java
Due: maven-build, deploy_customer

Ajout des models de données de l'API définis en début d'itération
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

Update pom.xml
  cloudito-rest-api/pom.xml
Due: maven-build, deploy_customer

DeploymentDiagramNotifsV7
  diagrams/scope2_diagrams/DeploymentDiagramNotifsV6.png
Due: none

Delete DeploymentDiagramNotifsV6.png
  diagrams/scope2_diagrams/DeploymentDiagramNotifsV6.png
Due: none

DEPLOY DIAG NOTIFS V7
  diagrams/scope2_diagrams/DeploymentDiagramNotifsV7.png
Due: none

Delete ComponentDiagramV5.png
  diagrams/scope2_diagrams/ComponentDiagramV5.png
Due: none

Delete DeploymentDiagramNotifsV7.png
  diagrams/scope2_diagrams/DeploymentDiagramNotifsV7.png
Due: none

Delete SequenceDiagramNotifsV3.png
  diagrams/scope2_diagrams/SequenceDiagramNotifsV3.png
Due: none

DeploymentDiagramNotifsV8_scope2
  diagrams/scope2_diagrams/DeploymentDiagramNotifsV8.png
Due: none

ComponentDiagramV6_scope2
  diagrams/scope2_diagrams/ComponentDiagramV6.png
Due: none

SequenceDiagramNotifsV4_scope2
  diagrams/scope2_diagrams/SequenceDiagramNotifsV4.png
Due: none

DeploymentDiagramNotifsV10; 3 noeuds par cluster Docker; 2 clusters
  diagrams/scope2_diagrams/DeploymentDiagramNotifsV8.png
Due: none

ComponentDiagramV8; ajout de erlang
  diagrams/scope2_diagrams/ComponentDiagramV6.png
Due: none

Replace SequenceDiagramNotifsV4.png
  diagrams/scope2_diagrams/SequenceDiagramNotifsV4.png
Due: none

test geolocation
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update gitignore
  .gitignore
Due: none

suppression .idea
  cloudito-rest-api/.idea/workspace.xml
Due: maven-build, deploy_customer

update gitignore
  .gitignore
  cloudito-rest-api/.gitignore
Due: maven-build, deploy_customer

Suppression .idea
  cloudito-rest-api/.idea/compiler.xml
  cloudito-rest-api/.idea/encodings.xml
  cloudito-rest-api/.idea/misc.xml
  cloudito-rest-api/.idea/vcs.xml
  cloudito-rest-api/.idea/workspace.xml
Due: maven-build, deploy_customer

Writing test : GeolocationServiceTest 4 methods
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
Due: maven-build, deploy_customer

Add Component Version
  diagrams/geolocalisation/Diagramme de composant UC Geolocalisation.svg
  diagrams/geolocalisation/Diagramme de déploiement.svg
Due: none

add course status
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Course.java
  cloudito-rest-api/course/pom.xml
  cloudito-rest-api/course/src/main/java/esipe/fr/course/ClouditoCourseService.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/configuration/SwaggerConfigurationCourse.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/controllers/CourseController.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/entities/Course.java
Due: maven-build, deploy_customer, test:unit, test:functional

add ressource loading for map
  cloudito-rest-api/course/pom.xml
  cloudito-rest-api/course/src/main/java/esipe/fr/course/entities/Map.java
Due: maven-build, deploy_customer

using IOUtils
  cloudito-rest-api/course/src/main/java/esipe/fr/course/controllers/CourseController.java
  cloudito-rest-api/course/src/main/java/esipe/fr/course/entities/Map.java
  cloudito-rest-api/pom.xml
Due: maven-build, deploy_customer

update pom.xml
  cloudito-rest-api/course/pom.xml
Due: maven-build, deploy_customer

Added Entities links to DB Tables
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/AccessPoint.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/InfoTerminal.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/Location.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/Store.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/entities/UserPosition.java
Due: maven-build, deploy_customer

Path conditions:
  maven-build: any of: cloudito-rest-api/**/*
  deploy_customer: any of: cloudito-rest-api/**/*
  test:unit: any of: cloudito-android/**/*
  test:functional: any of: cloudito-android/**/*
